.header {
  background-color: #1c2b35;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 140px;
  padding-right: 140px;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  margin-left: 36px;
}

.header a:hover {
  color: goldenrod;
}
